*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    font-size: 45px;
    font-weight: 500;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.display img{
    width: 30px;
    cursor: pointer;
    filter: invert(33%) sepia(81%) saturate(2619%) hue-rotate(136deg) brightness(96%) contrast(99%);
}
.display input{
    border: 0;
    outline: 0;
    font-size: 23px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
button > img{
    filter: brightness(0) invert(1);
}